body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    background-color: #4A4A4A;
}

.header {
    background-image: url('WhatsApp\ Image\ 2024-09-11\ at\ 05.32.06.jpeg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.538);
}

.header-content {
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #FFFFFF;
}

.sub-heading {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #E0E0E0;
}

.cta-button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #4A4A4A;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #E0E0E0;
}

.language-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-switcher ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.language-switcher li {
    margin-left: 10px;
}

.language-switcher a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.main-navigation {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}
.responsive-img {
    width: 100%;
    height: auto;
}
.main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-navigation li {
    margin: 0 15px;
}

.main-navigation a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.main-navigation a:hover {
    color: #E0E0E0;
}

section {
    padding: 50px 20px;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #FFF;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}
.imagem-pequena {
    width: 100px;
    height: auto;
}

.imagem-media {
    width: 200px;
    height: auto;
}

.imagem-grande {
    width: 300px;
    height: auto;
}


video {
    max-width: 100%; /* Faz com que o vídeo se ajuste ao container */
    border: 2px solid #333; /* Adiciona uma borda ao redor do vídeo */
    border-radius: 10px; /* Borda arredondada */
}
